.navbar {
  padding: 0 10px;
  background: $primary;

  .nav_lists {
    text-align: right;
    justify-content: flex-end;
    text-align: center;
    .nav_list:hover {
      font-weight: bold;
      color: white;
    }
  }

  .nav_burger {
    border: none;
    &:focus {
      box-shadow: none;
    }
  }
  .hidden {
    transform: translateY(-55px);
  }
}
